<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.banyaoqiang.database.dao.UserMapper">
    <resultMap id="BaseResultMap" type="user">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="auth_lv" jdbcType="INTEGER" property="authLv" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="education" jdbcType="VARCHAR" property="education" />
        <result column="job" jdbcType="VARCHAR" property="job" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
    </resultMap>

    <sql id="tableColumns">
        cloud_user.id, cloud_user.name, cloud_user.auth_lv, cloud_user.phone,
        cloud_user.address, cloud_user.education, cloud_user.job, cloud_user.birthday
    </sql>

    <select id="loginById" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from cloud_user where id = #{id} and password = #{password}
    </select>

    <select id="loginByName" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from cloud_user where name=#{name} and password = #{password}
    </select>

    <select id="selectUser" parameterType="int" resultMap="BaseResultMap">
        select * from cloud_user where id = #{id}
    </select>

    <select id="selectUserByName" parameterType="String" resultMap="BaseResultMap">
        select * from cloud_user where name = #{name}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from cloud_user
    </select>

    <select id="selectPassword" parameterType="int" resultType="java.lang.String" >
        select password  from cloud_user where id = #{id}
    </select>

    <insert id="insertUser" parameterType="java.util.Map">
        insert into cloud_user
        (name, password, phone, address, education, job, birthday)
        values
        (
        #{name},
        #{password},
        #{phone, jdbcType=VARCHAR},
        #{address, jdbcType=VARCHAR},
        #{education, jdbcType=VARCHAR},
        #{job, jdbcType=VARCHAR},
        #{birthday, jdbcType=DATE}
        )
    </insert>
</mapper>